SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Prefer DATABASE_URL when available
# DATABASE_URL=postgres://username:password@host:5432/dbname

# Or explicit DB config:
DB_NAME=nba
DB_USER=amirhosssein
DB_PASSWORD=Asdfghjkl0
DB_HOST=localhost
DB_PORT=5432

